services:
 minio: 
  image: minio/minio:latest
  container_name: minio
  ports:
    - "9300:9000"
    - "9001:9001"
  volumes:
    - ./minio-data:/data
  env_file:
    - .env
  command: 
    - server
    - /data
    - --console-address=:9001